<%- include('partials/header'); -%>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Filter Companies</h1>
                <form action="/searchfilter/" id="CompnayForm" class="form-horizontal" method="POST">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="companyName" class="col-md-12 control-label">By Company Name</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="fltrname"
                                    placeholder="Enter Compnay Name">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ctc" class="col-md-12 control-label">By Job Profile</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="fltrProfile"
                                    placeholder="Enter Job Profile">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ctc" class="col-md-12 control-label">CTC</label>
                            <div class="col-md-12">
                                <select name="fltrCTC" class="form-control">
                                    <option value="25 LPA">25 LPA</option>
                                    <option value="38 LPA">38 LPA</option>
                                    <option value="20 LPA">20 LPA</option>
                                    <option value="38 LPA">10 LPA</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ctc" class="col-md-12 control-label">Dream Non-Dream</label>
                            <div class="col-md-12">
                                <select name="fltrDream" class="form-control">
                                    <option value="Dream">Dream</option>
                                    <option value="Non-Dream">Non-Dream</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="form-control btn btn-primary">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <%if (jobs.length > 0){%>
            <%jobs.forEach(function(job) {%>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="min-height: 36em;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <form action="/action" method="post">
                            <div class="card-text">
                                <p>Id: <%= job.jobID %></p>
                                <p>Company Name: <%= job.companyName %></p>
                                <p>Comapny Sector: <%= job.companySector %></p>
                                <p>Profile: <%= job.profile %></p>
                                <p>CTC: <%= job.ctc %> LPA</p>
                                <% if (job.eligibility != null) { %>
                                <p>CGPA Required: <%= job.eligibility.cgpa %></p>
                                <p> Eligible branches: <%=job.eligibility.branch %></p>
                                <%} else { %>
                                <p></p>
                                <% } %>
                            </div>
                            <!-- <p name="jobDescription" class="card-text">
                                <%=job.jobDescription.substring(0, 50) + " ..."%>
                                <a href="/jobs/<%=job.jobID%>">Read More</a>
                            </p> -->
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button name="buttonAction" value="view<%=job._id%>" type="submit"
                                        class="btn btn-sm btn-outline-secondary">View</button>
                                    <button name="buttonAction" value="aply<%=job._id%>" type="submit"
                                        class="btn btn-sm btn-outline-secondary">Apply</button>
                                </div>
                                <small
                                    class="text-muted"><%= job.dateOfPost.getDate() %>-<%= job.dateOfPost.getMonth() %>-<%= job.dateOfPost.getFullYear() %></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%});%>
        </div>
        <div style="margin:auto;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/home/1/">First</a>
                </li>
                <li class="page-item">
                    <%if(page!=1){var a=parseInt(page)-1;%>
                        <a class="page-link" href="/home/<%=a%>">Previous</a>
                    <%}%>
                </li>
                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <% if (pages != page) { %>
                    <% if ((pages-1) != page) { %>
                        <li class="page-item">
                            <a class="page-link" href="/home/<%=page+1%>">Next</a>
                        </li>
                    <%}%>
                    <li class="page-item">
                        <a class="page-link" href="/home/<%=pages%>">Last</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</div>
<div style="min-height: 10em;"></div>
<%- include('partials/footer'); -%>
