<%- include('partials/header',{role: 0}) -%>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-md-6">


            <h4>Today</h4>
            <% if (today.length>0) { %>
            <%today.forEach(function(schedule) {%>
            <div class="row-md-2">
                <div class="card mb-4 shadow-sm" style="min-height: 24em;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">

                        <div class="card-text">
                            <p> <%= jobs.find((b)=>schedule.jobId==b._id).companyName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= schedule.eventName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= new Intl.DateTimeFormat('en', { weekday: 'long',year: 'numeric', month: '2-digit', day: '2-digit',
                                            hour: '2-digit',minute: '2-digit', second: '2-digit' }).format(schedule.date)  %>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <%});%>
            <%} else { %>
            <p> No campus events to show</p>
            <% } %>


            <h4>Yesterday</h4>
            <% if (yesterday.length>0) { %>
            <%yesterday.forEach(function(schedule) {%>
            <div class="row-md-2">
                <div class="card mb-4 shadow-sm" style="min-height: 24em;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">

                        <div class="card-text">
                            <p> <%= jobs.find((b)=>schedule.jobId==b._id).companyName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= schedule.eventName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= new Intl.DateTimeFormat('en', { weekday: 'long',year: 'numeric', month: '2-digit', day: '2-digit',
                                            hour: '2-digit',minute: '2-digit', second: '2-digit' }).format(schedule.date)  %>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <%});%>
            <%} else { %>
            <p> No campus events to show</p>
            <% } %>

            <h4>Upcoming</h4>
            <% if (upcoming.length>0) { %>
            <%upcoming.forEach(function(schedule) {%>
            <div class="row-md-2">
                <div class="card mb-4 shadow-sm" style="min-height: 24em;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">

                        <div class="card-text">
                            <p> <%= jobs.find((b)=>schedule.jobId==b._id).companyName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= schedule.eventName %></p>
                        </div>

                        <div class="card-text">
                            <p> <%= new Intl.DateTimeFormat('en', { weekday: 'long',year: 'numeric', month: '2-digit', day: '2-digit',
                                                hour: '2-digit',minute: '2-digit', second: '2-digit' }).format(schedule.date)  %>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <%});%>
            <%} else { %>
            <p> No campus events to show</p>
            <% } %>
        </div>
    </div>
</div>
<div style="min-height: 10em;"></div>
<%- include('partials/footer'); -%>