<%- include('partials/header',{role: 0}) -%>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-md-6">


            <h4>Applications</h4>
            <% if (schedules.length>0) { %>
            <%schedules.forEach(function(company) {%>
            <div class="row-md-2">
                <div class="card mb-4 shadow-sm" style="min-height: 24em;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">

                        <div class="card-text">
                            <p> <%= company.job.companyName %></p>
                        </div>
                        <% if (company.job.schedule.length>0) { %>
                        <%company.job.schedule.forEach(function(event) {%>
                        <div class="card-text">
                            <h6> <%= event.eventName %></h6>
                            <h6> <%= new Intl.DateTimeFormat('en', { weekday: 'long',year: 'numeric', month: '2-digit', day: '2-digit',
                                                hour: '2-digit',minute: '2-digit', second: '2-digit' }).format(event.date)  %>
                            </h6>
                        </br>
                        </div>
                        <%});%>
                        <%} else { %>
                        <p> Check here for schedules.</p>
                        <% } %>
                        <div class="card-text">
                            <p> <%= company.jobStatus%></p>
                        </div>
                    </div>
                </div>
            </div>
            <%});%>
            <%} else { %>
            <p> No campus events to show</p>
            <% } %>


           
        </div>
    </div>
</div>
<div style="min-height: 10em;"></div>
<%- include('partials/footer'); -%>